---
import { ValidateAdmin } from "../../components/admin/ValidateAdmin";
import Layout from "../../layouts/Layout.astro";

const { name } = Astro.params;
const newName = name.replace(/-/g, " ");
---

<Layout title={newName}>
  <div class="container mx-auto">
    <ValidateAdmin client:only />
  </div>
</Layout>
